:root {
  font-family: "Libertinus Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;

  color-scheme: only light;
  color: #f9faf6;
  background-color: #f9faf6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  font-weight: 500;
  color: #555;
  font-weight: 800;
  text-decoration: inherit;
}

a:hover {
  color: #a255e9;
}

input {
  font-family: "Libertinus Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #555;
  background-color: #f9faf6;
}


select {
  font-family: "Libertinus Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #555;
  background-color: #f9faf6;
}

select:hover {
  color: #a255e9;
}

select option:checked {
  background-color: #a255e9;
  color: #f2e4ff;
}

body {
  margin: 0;
  display: flex;
  place-items: ;
  min-height: 100vh;
}

thead {
  background-color: #f0f0f000 !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 100vw;
  margin: 0 auto;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #a255e9;
  ;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #555;
    background-color: #ffffff;
  }

  a:hover {
    color: #a255e9;
  }

  button {
    background-color: #f9f9f9;
  }
}